/* PAGE RULES and ELEMENTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
}


/* ---MAIN CONTAINER--- */
#main-container {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}


/* SIDE NAV */
#side-nav {
    height: 100%;
    width: 200px;
    background-color: black;
    z-index: 200;
}

/* logo */
#full-logo img {
    height: 80px;
    padding: 20px;
    display: block;
}

#small-logo img {
    display: none;
}

/* side main nav */
#side-main-nav {
    display: flex;
    flex-direction: column;
}

#side-main-nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #76797d;
    font-size: 10px;
    border-left: 2px solid black;
    padding: 5px 20px 5px 18px;
}

#side-main-nav a:hover {
    color: white;
}

#side-main-nav a:active {
    border-left: 2px solid #a2ef2c;
}

#side-main-nav img {
    width: 25px;
    margin-right: 5px;
}

/* playlist header */
#playlist-header {
    padding: 20px;

    width: 100%;
    background-color: aqua;
}

#playlist-header h5 {
    color: white;
}

#playlist-header span {
    font-size: 50px;
}

#playlist-header p {
    font-size: 10px;
    font-weight: 700;
}


/* BODY */
#body {
    width: calc(100% - 200px);
    overflow: auto;
}

/* upgrade banner */
#upgrade-banner {
    height: 100px;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


/* main nav */
#main-nav {
    padding-top: 100px;
}

#main-nav nav {
    width: 100%;
    padding: 10px 15% 10px 15%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    /* test */
    background-color: antiquewhite;

}

#main-nav a {
    text-decoration: none;
    font-weight: 700;
    color: #76797d;
    font-size: 10px;
    padding: 5px;
}


/* ---PLAYER--- */
#player {
    height: 100px;
    background-color: #282828;
}


/*************************************************
    MEDIUM VERSION
 *************************************************/
@media screen and (max-width: 878px) {

    /* ---MAIN CONTAINER--- */

    /* SIDE NAV */

    /* BODY */

    /* upgrade banner */

    /* main nav */

    /* ---PLAYER--- */

    #main-nav nav {
        padding: 10px 5% 10px 5%;
    }

}


/*************************************************
    SMALL VERSION
 *************************************************/
@media screen and (max-width: 639px) {

    /* ---MAIN CONTAINER--- */

    /* SIDE NAV */

    /* BODY */

    /* upgrade banner */

    /* main nav */

    /* ---PLAYER--- */

}


/*************************************************
    MOBILE VERSION
 *************************************************/
@media screen and (max-width: 552px) {

    /* ---MAIN CONTAINER--- */

    /* SIDE NAV */
    #side-nav {
        width: 50px;
        display: flex;
        flex-direction: column;
    }

    #full-logo img {
        display: none;
    }

    #small-logo img {
        display: block;
        width: 100%;
        padding: 10px;
    }

    #side-main-nav a {
        padding: 0;
        justify-content: center;
    }

    #side-main-nav span {
        display: none;
    }

    /* BODY */
    #body {
        width: calc(100% - 50px);
    }

    /* upgrade banner */

    /* main nav */

    /* ---PLAYER--- */

}